<?xml version="1.0" encoding="UTF-8"?>
<!-- copied it from internet called as DTD -->
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
	<!-- All of these are the things that is required to add connection with the database(mysql) -->
		<property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/myhiber</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root3254</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<!-- hibernate itself is going to create the table -->
		<property name="hbm2ddl.auto">update</property>
		<!-- to see which query hibernate made itself and fired it -->
		<property name="show_sql">true</property>
		<!-- 
		<mapping class="com.hibernate.Student"/>
		<mapping class="com.hibernate.Address"/>
		<mapping class="com.onetoone.Question"/>
		<mapping class="com.onetoone.Answer"/>
		<mapping class="onetomany.Question"/>
		<mapping class="onetomany.Answer"/>
		-->
		<mapping class = "com.manytomany.Employee"/>
		<mapping class = "com.manytomany.Project"/>
	</session-factory>
</hibernate-configuration>